@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme Variables */

/* Colors */
:root {
  --color-main: #c9c9c9; /* Light Gray */
  --color-highlight: #ffffff; /* White */
  --color-accent: #e58943; /* Orange */
  --color-background: #0f0f0f; /* Black */
}

/* Typography */
:root {
  --font-family: 'Open Sans', sans-serif;
  --font-size-base: 16px;
}

/* Spacing */
:root {
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {

  }
}

/* Base Styles */
body {
  background: var(--color-background);
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

/* Utility Classes */
@layer utilities {
  .snap-smooth {
    scroll-behavior: smooth;
  }
}

/* Base Styles */
@layer base {
  ::-webkit-scrollbar {
    @apply w-2
  }
  
  ::-webkit-scrollbar-track {
    @apply bg-zinc-900
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-300 dark:bg-zinc-600 rounded-full
  }
  
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-400
  }
  
}
